
/* works: http://stackoverflow.com/questions/12887506/cannot-set-maps-div-height-for-openlayers-map */
/*** mobile gets inop with this here:
 html, body {
    height: 100%;
    width:  100%;
 }
 #map {
    height: 100%;
    width:  100%;
 }
 .ol-attribution a {
    color: black;
 }
 ***************/

/**** css popup example from
 *      https://openlayers.org/en/latest/examples/popup.html  */

.ol-popup {
    position: absolute;
    background-color: lightgreen;
    -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
    min-width: 80px;
    /* min-width: 280px; */

    /* possible scroll bar * /
    max-height: 300px;
    overflow: auto; */
}
.ol-popup:after, .ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}
.ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}
.ol-popup-closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
}
.ol-popup-closer:after {
    content: "x";    /* was some symbol, but came out as 'ae~' ; TODO: is that +/- problem also??? */
}

/**** css popup example end  */

/* map.control.bar */
.ol-button i
    { color: inherit;
    }

